<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @listing.address %>
</p>

<%= link_to 'Edit', edit_admin_listing_path(@listing) %> |
<%= link_to 'Back', admin_listings_path %>
