
<div class="bg-black text-white font-sans p-9">
  <h1>Landing page!</h1>
  <ul>
    <li><%= link_to 'View Listings', listings_path %></li>
    <li><%= link_to 'Login', new_user_session_path  %></li>
    <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
    <li></li>
  </ul>
</div>
